# Test Files
*.cmp
*.out
*.tst

# Test Directories
ArrayTest/
KeyboardTest/
MathTest/
MemoryTest/
OutputTest/
ScreenTest/
StringTest/
SysTest/

# Course Folders
source/
tools/

# Specific Files
hardware/04/**/*.hack
hardware/05/*.hack

# Java
bin/
out/
*.iml
.idea/
.settings/
.classpath
.project