# Test Files
*.cmp
*.out
*.tst

# Test Directories
ArrayTest/
KeyboardTest/
MathTest/
MemoryTest/
OutputTest/
ScreenTest/
StringTest/
SysTest/

# Course Folders
source/
tools/

# Java/IDE
bin/
out/
*.iml
.idea/
.settings/
.classpath
.project
