function BasicGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
call Mover.new 0
pop this 1
push this 1
call Mover.drawMover 1
pop temp 0
push pointer 0
return
function BasicGame.run 1
push argument 0
pop pointer 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 130
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
call Mover.moveLeft 1
pop temp 0
label IF_FALSE0
push local 0
push constant 131
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
call Mover.moveUp 1
pop temp 0
label IF_FALSE1
push local 0
push constant 132
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
call Mover.moveRight 1
pop temp 0
label IF_FALSE2
push local 0
push constant 133
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 1
call Mover.moveDown 1
pop temp 0
label IF_FALSE3
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
